/* Login.css */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    color: white;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin: 5px 0;
  }
  
  input {
    margin: 5px 0;
    padding: 5px;
  }
  
  button {
    margin: 10px 0;
    padding: 8px;
    cursor: pointer;
  }
  